{% extends 'base.html' %}


{% block content %}
	<div class="content">
        <ul class="home-container">
            <li class="dev-info" style="background-color: #DFF0D8;">
                <div class="dev-info-header" style="border-bottom: 1px solid #fbfbfb;height: 30px;line-height: 30px;">
                    <span>设备概览</span>
                </div>
                <div style="margin-left: 25px;margin-top: 10px;margin-bottom: 10px">
                    <span >厂商: {{ devInfo[0] }}</span><br>
                    <span>设备: {{ devInfo[1] }}</span><br>
                    <!--<span>分辨率:1280x720</span><br>-->
                    <span>CPU信息: {{ devInfo[2] }}</span><br>
                    <span>GPU信息: {{ devInfo[3] }}</span><br>
                    <span>构建日期: {{ devInfo[4] }}</span><br>
                </div>

            </li>
            <li class="dev-info">
                <div class="dev-info-header">
                    <span>CPU使用率</span>
                </div>
                <div class="CPUChart"></div>
            </li>
            <li class="dev-info">
                <div class="dev-info-header">
                    <span>RAM使用率</span>
                </div>
                <div class="RAMChart"></div>
            </li>
            <li class="dev-info">
                <div class="dev-info-header">
                    <span>FPS帧数</span>
                </div>
                <div class="FPSChart"></div>
            </li>
            <li class="dev-info">
                <div class="dev-info-header">
                    <span>DISK使用率</span>
                </div>
                <div class="DISKChart"></div>
            </li>
        </ul>
	</div>

    <div class="content">
        <ul class="home-container" style="margin-bottom: 0">
            <li style="width: 50%;">
                <div class="charts-header">
                    <span>NET</span>
                    <ul>
                        <li>
                            <p><span class="icobox"></span>上传</p>
                            <a id='up'>load..</a>
                        </li>
                        <li>
                            <p><span class="icobox" style="background-color: #52a9ff;"></span>下载</p>
                            <a id='down'>load..</a>
                        </li>
                        <li>
                            <p>总上传</p>
                            <a id='upT'>load..</a>
                        </li>
                        <li>
                            <p>总下载</p>
                            <a id='downT'>load..</a>
                        </li>
                    </ul>
                </div>
                <div id="net-chart" class="charts-style">

                </div>
            </li>
            <li style="width: 50%;">
                <div class="charts-header">
                    <span>I/O</span>
                    <ul>
                        <li>
                            <p><span class="icobox"></span>读取</p>
                            <a id='read'>load..</a>
                        </li>
                        <li>
                            <p><span class="icobox" style="background-color: #52a9ff;"></span>写入</p>
                            <a id='write'>load..</a>
                        </li>
                        <li>
                            <p>总读取</p>
                            <a id='readT'>load..</a>
                        </li>
                        <li>
                            <p>总写入</p>
                            <a id='writeT'>load..</a>
                        </li>
                    </ul>
                </div>
                <div id="io-chart" class="charts-style">

                </div>

            </li>

        </ul>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../static/js/circleChart.min.js"></script>
    <script src="../static/js/apcharts.js"></script>
    <script src="../static/js/apcirc.js"></script>
    <script src="../static/js/index.js"></script>
{% endblock %}
