{% extends 'base.html' %}

{% block css %}
    {{ super() }}
    <link href="../static/css/script.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id = "content" class="content">
        <div class="layui-card">
            <div class="layui-card-header">添加业务脚本规则，将依次执行</div>
            <div class="layui-card-body layui-text">
                <div id="toolbar">
                    <div>
                        <button type="button" class="layui-btn layui-btn-sm" data-type="addRow" title="Add a row">
                            <i class="layui-icon layui-icon-add-1"></i> 新增
                        </button>
                    </div>
                </div>
                <div id="tableRes" class="table-overlay">
                    <table id="dataTable" lay-filter="dataTable" class="layui-hide"></table>
                </div>
                <div id="action" class="text-center">
                    <button type="button" name="btnSave" class="layui-btn" data-type="save"><i class="layui-icon layui-icon-ok-circle"></i>保存</button>
                    <button type="reset" name="btnReset" class="layui-btn layui-btn-primary">取消</button>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
	<script type="text/javascript">
    	    var data = {{ data|tojson}};
	</script>
    <script src="../static/js/script.js"></script>
{% endblock %}